<section >
    <div class="container">
        <div style="padding:;" class=" d-flex justify-content-center mt-5" style=>
            <div class="d-flex justify-content-center " style="width: 35rem;border: solid;border-color: dimgray; border-width: 1px; height: 40rem;">

               
                    <div style="padding-top: 40px; ">
                        <div style="align-items: center; padding-left: 15px; ">
                            <img class="center-block" src="/user-image/{{donar._id}}.jpg"  style="height: 200px; width: 150px;">
                        </div>
                        <br><br><br>
                         <h6 class="text-center">Name:{{donar.firstname}}  {{donar.lastname}}</h6>
                        <p class="text-center">Genter:    {{donar.Genter}}</p>
                        <p class="text-center">Date of Birth:  {{donar.dob}}</p>
                        <p class="text-center">Mobile:  {{donar.mobile}}</p>
                        <p class="text-center">House Name:  {{donar.Name}}</p>
                        <div style="padding-left: 58px;">
                            <a class="btn btn-success  text-center"href="tel:{{donar.mobile}}">Call</a>

                        </div>
                        
                        

                    </div>
                

             
                
                
            </div>
        </div>
    </div>
</section>